import(HMMcopy, plyr, GenomeInfoDb)
export(loadReadCountsFromWig, normalizeByPanelOrMatchedNormal, getDefaultParameters,
       HMMsegment, plotGWSolution, correctIntegerCN, getSeqInfo, .seqlevelsStyle,
       wigToGRanges, outputHMM, outputParametersToFile, plotSolutions)
